/*
*= require third_party/bootstrap/dist/css/bootstrap.css
*= require third_party/font-awesome/css/font-awesome.css
*= require theme/plugins.css
*= require theme/style.css
*/

/*CUSTOM CSS*/
.form-row{
  margin-top:10px;
}

.navbar-brand.image{
  padding:0px;
}

.navbar-brand.image img{
  width:100%;
  height:50px;
}

/*Sent Message*/
#sentMessage{
  margin-top:20px;
}
